{% load static %}
<html>
<head>
<title>My Site</title>
</head>

<body style="margin:0;">

<header style="
background-color:#F1C27D;
height:140px;
padding:20px;
">

<img src="{% static 'images/maltipoo.jpg' %}"
     width="160"
     height="120"
     style="float:left;">

<a href="login"
   style="
   float:right;
   margin-top:40px;
   margin-right:20px;
   font-size:30px;
   color:white;
   text-decoration:none;
   ">
   Login
</a>

<a href="register"
   style="
   float:right;
   margin-top:40px;
   margin-right:40px;
   font-size:30px;
   color:white;
   text-decoration:none;
   ">
   Register
</a>

</header>

<div style="
height:400px;
text-align:center;
line-height:400px;
">

<h1 style="
display:inline;
font-size:50px;
color:black;
">
Welcome
</h1>

</div>

<footer style="
background-color:#F1C27D;
height:100px;
text-align:center;
line-height:100px;
color:white;
font-size:25px;
">

@mysite

</footer>

</body>
</html>