asgiref==3.11.1
dj-database-url==3.1.2
Django==6.0.6
gunicorn==26.0.0
mysql-connector==2.2.9
numpy==2.4.2
opencv-contrib-python==4.13.0.92
packaging==26.2
pandas==3.0.1
pillow==12.1.1
psycopg2-binary==2.9.12
PyMySQL==1.2.0
pyserial==3.5
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
